<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="DebugMode" value="false" />
		<add key="ApiBaseUrl" value="https://api-qa.aspose.cloud" />
		<add key="AuthBaseUrl" value="https://api-qa.aspose.cloud" />

		<!--Fill in the following settings with valid values to run tests-->
		<add key="AppSid" value="@your_app_sid@" />
		<add key="AppKey" value="@your_app_key@" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>